@model ReflectionIT.Mvc.Paging.PagingList<ZagrosRealState.ViewModels.Views.ViewDataShopModel>
@inject ZagrosRealState.Common.PublicClasses.ConvertDate convertDate
@using ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "نمایش اطلاعات مغازه";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript: void(0);">داشبرد مدیریت سامانه املاک زاگرس</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">مدیریت دسته بندی ها</a></li>
                <li class="breadcrumb-item active"> اطلاعات مغازه</li>
            </ol>
        </div>
    </div>
    <div class="col-lg-12">
        <!-- end inbox-rightbar-->
        <div class="clearfix"></div>
    </div> <!-- end Col -->
    <div class="col-lg-12">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-primary float-left">مدیریت اطلاعات مغازه</div>
            <div class="dropdown float-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-horizontal"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="javascript:window.print()" class="dropdown-item mdi mdi-printer mr-1"> دریافت گزارش </a>
                    <a href="javascript:void(0);" i class="dropdown-item  mdi mdi-undo-variant"> بروزرسانی داده ها </a>
                </div>
            </div>
            <div class="ribbon-content">
                <div class="col-sm-auto">
                    <div class="col-sm-auto">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h4 class="header-title">جستجوی داده ها</h4>
                                    <br />
                                    <p class="sub-header">
                                        جهت جستجوی اطلاعات مغازه از پارامتر های زیر استفاده کنید.
                                    </p>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <form action="#">
                                                <div class="form-group">
                                                    <label>نام و نام خانوادگی موجر</label>
                                                    <input type="text" class="form-control" maxlength="50" placeholder="نام یا نام خانوادگی موجر">
                                                </div>
                                            </form>
                                        </div> <!-- end col -->
                                        <div class="col-md-3">
                                            <form action="#">
                                                <div class="form-group">
                                                    <label>شماره موبایل</label>
                                                    <input type="text" class="form-control" maxlength="11" placeholder="شماره موبایل را وارد نمایید">
                                                </div>
                                            </form>
                                        </div> <!-- end col -->
                                        <div class="col-md-3">
                                            <form action="#">
                                                <div class="form-group">
                                                    <label>آدرس</label>
                                                    <input type="text" class="form-control" maxlength="512" placeholder="آدرس مغازه را وارد نمایید">
                                                </div>
                                            </form>
                                        </div> <!-- end col -->
                                        <div class="col-md-3">
                                            <form action="#">
                                                <div class="form-group">
                                                    <label for="input">نوع صنف</label>
                                                    <select asp-items="ViewBag.Shop_LST_Senfs" class="selectpicker" data-style="btn-light" data-toggle="dropdown">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div> <!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <div class="modal fade editShop" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static"
                             style="display: none;">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h4 class="modal-title" id="myLargeModalLabel">ویرایش اطلاعات مغازه</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-action="NewDataShop">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">کد ملک</label>
                                                    <input type="text" class="form-control" id="input_CodeMelk" disabled="" placeholder="1002">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">موجر</label>
                                                    <input type="text" class="form-control" id="input_Phone" placeholder="09171048241">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">موبایل</label>
                                                    <input type="text" class="form-control" id="input_MoujerInfo" placeholder="فرزاد معماری">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">متراژ</label>
                                                    <input type="text" class="form-control" id="input_Metrazh" placeholder="20">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">بالاکن</label>
                                                    <select asp-items="ViewBag.lST_Shop_Balakons" name="lST_Shop_Balakons" class="selectpicker" data-style="btn-light" data-toggle="dropdown">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">پوشش داخلی</label>
                                                    <select asp-items="ViewBag.lST_Shop_InsideDesigns" name="lST_Shop_InsideDesigns" class="selectpicker" data-style="btn-light" data-toggle="dropdown">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">رهن. ریال</label>
                                                    <input type="text" class="form-control" id="input_Tabagheh" placeholder="20.000.000">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">اجاره. ریال</label>
                                                    <input type="text" class="form-control" id="input_PriceRahn" placeholder="100.000">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">نوع صنف</label>
                                                    <select asp-items="ViewBag.lST_Shop_Senfs" name="lST_Shop_Senfs" class="selectpicker" data-style="btn-light" data-toggle="dropdown">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="input" class="col-form-label">آدرس</label>
                                                    <input type="text" class="form-control" id="input_Touzihat" placeholder="شهرک بهشتی، رو به روی درمانگاه غدیر">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="input" class="col-form-label">پایان کار</label>
                                                    <select asp-items="ViewBag.lST_Shop_PayaneKars" name="lST_Shop_PayaneKars" class="selectpicker" data-style="btn-light" data-toggle="dropdown">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-success waves-effect waves-light width-md">ویرایش نهایی اطلاعات<i class="mdi mdi-content-save ml-2"></i></button>
                                                <button type="button" data-dismiss="modal" class="btn btn-outline-danger waves-effect waves-light width-md">بازگشت<i class="mdi mdi-close ml-2"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade deleteShop" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static"
                             style="display: none;">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header bg-warning">
                                        <h4 class="modal-title" id="myLargeModalLabel">حذف اطلاعات مغازه</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-row">
                                            شما قصد حذف اطلاعات مربوط به مغازه را دارید. آیا ادامه میدهید؟
                                            <hr />
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-outline-danger waves-effect waves-light width-md">حذف نهایی اطلاعات<i class="mdi mdi-content-save ml-2"></i></button>
                                            <button type="button" data-dismiss="modal" class="btn btn-outline-danger waves-effect waves-light width-md">بازگشت<i class="mdi mdi-close ml-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (ViewBag.AddNewDataMessageShop != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                @ViewBag.AddNewDataMessageShop
                            </div>
                        }

                        <table id="datatable" class="table table-striped table-bordered dt-responsive wrap">
                            <thead>
                                <tr>
                                    <th>کد</th>
                                    <th>موجر</th>
                                    <th>موبایل</th>
                                    <th>متراژ</th>
                                    <th>بالاکن</th>
                                    <th>پوشش داخلی</th>
                                    <th>رهن. ریال</th>
                                    <th>اجاره. ریال</th>
                                    <th>نوع صنف</th>
                                    <th>آدرس</th>
                                    <th>پایان کار</th>
                                    <th>تاریخ ثبت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ShopViewItem in Model)
                                {
                                    <tr>
                                        <td>@ShopViewItem.ShopCode_Id</td>
                                        <td>@ShopViewItem.Shop_Family</td>
                                        <td>@ShopViewItem.Shop_Mobile</td>
                                        <td>@ShopViewItem.Shop_Metrazh</td>
                                        <td>@ShopViewItem.Shop_Balakon</td>
                                        <td>@ShopViewItem.Shop_InsidePooshesh</td>
                                        <td>@ShopViewItem.Shop_PriceRahn</td>
                                        <td>@ShopViewItem.Shop_PriceEjareh</td>
                                        <td>@ShopViewItem.Shop_TypeSenf</td>
                                        <td>@ShopViewItem.Shop_Address</td>
                                        <td>@ShopViewItem.Shop_PayaneKar</td>
                                        <td>@convertDate.ConvertMiladiToShamsi((DateTime)ShopViewItem.Shop_DatePublish, "yyyy/MM/dd")</td>
                                        <td>
                                            <button type="submit" class="btn btn-sm btn-light waves-effect" data-toggle="modal" data-target=".editShop"><i class="mdi mdi-pencil font-18 vertical-middle"></i></button>
                                            <a href="#" data-toggle="modal" data-target=".deleteShop" button type="submit" class="btn btn-sm btn-light waves-effect"><i class="mdi mdi-delete font-18 vertical-middle"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">

                            <nav>
                                @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                            </nav>

                        </div>
                    </div> <!-- end col -->
                </div>
            </div>
        </div>
    </div>
</div>

